flow_guardian.json
[{"id":"d1610b6e3d041b2c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"68532246321e0ce0","type":"telegram receiver","z":"d1610b6e3d041b2c","name":"","bot":"f6a563501e035e0f","saveDataDir":"","filterCommands":false,"x":566.2500152587891,"y":600.0000085830688,"wires":[["374db7475e3ffd92","f9b34fed58d1aef4","b214e45718897be3"],[]]},{"id":"9dc0414aecf05e6e","type":"function","z":"d1610b6e3d041b2c","name":"Tratando os dados","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":947.5000152587891,"y":593.7500095367432,"wires":[["d2add53920bb1895"]]},{"id":"d2add53920bb1895","type":"watson-assistant-v2","z":"d1610b6e3d041b2c","name":"","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/c1a87d28-35ab-450b-9ce9-5bc47ef99e5a","assistant_id":"63e69fe9-003f-4d0a-a137-fa3363aae89d","debug":false,"restart":false,"return_context":false,"alternate_intents":false,"multisession":false,"timeout":"","optout-learning":false,"persist-session-id":false,"x":1170,"y":640,"wires":[["597f0c45914c18c3"]]},{"id":"597f0c45914c18c3","type":"function","z":"d1610b6e3d041b2c","name":"Chat no node red - Local = true","func":"\nvar local = false;\nvar acessibilidade = global.get(\"acessibilidade\");\n\nif(acessibilidade===undefined){\n    global.set(\"acessibilidade\",false);\n}\n\n\nif(msg.payload.output.generic.length>1){\n    var respostas = \"\"\n    var limite = msg.payload.output.generic.length;\n    var res = \"\"\n    for(var i=0;i<limite;i++){\n        if(msg.payload.output.generic[i].text!=null){\n        res = res.concat(msg.payload.output.generic[i].text);\n        res = res.concat(\"\\n\");\n        }\n    }\n    respostas = res\n    \n    msg.payload ={\n        chatId: global.get(\"chatId\"),\n        type:\"message\",\n        content: respostas,\n        limite: limite,\n        local: local,\n        acessibilidade: acessibilidade\n        \n    } \n    return msg;\n}else{\n   msg.payload ={\n        chatId: global.get(\"chatId\"),\n        type:\"message\",\n        content: msg.payload.output.generic[0].text,\n        local: local,\n        acessibilidade: acessibilidade\n    } \nreturn msg;\n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":640,"wires":[["b684aab3443eff82"]]},{"id":"9705fc44ef6c6c2b","type":"telegram sender","z":"d1610b6e3d041b2c","name":"","bot":"f6a563501e035e0f","haserroroutput":false,"outputs":1,"x":2032.75,"y":627,"wires":[[]]},{"id":"374db7475e3ffd92","type":"debug","z":"d1610b6e3d041b2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":651.2500152587891,"y":507.50000762939453,"wires":[]},{"id":"55f89c04e1cf5f03","type":"inject","z":"d1610b6e3d041b2c","name":"","props":[{"p":"payload.content","v":"\"oi\"","vt":"str"},{"p":"payload.type","v":"\"message\"","vt":"str"},{"p":"payload.chatId","v":"\"2013174155\"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":772.5000076293945,"y":546.2500076293945,"wires":[["9dc0414aecf05e6e"]]},{"id":"7764f4476dfd64d8","type":"switch","z":"d1610b6e3d041b2c","name":"chat Local","property":"payload.local","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1821,"y":634,"wires":[["9705fc44ef6c6c2b"],[]]},{"id":"79e365813b10d9ac","type":"comment","z":"d1610b6e3d041b2c","name":"Instruções","info":"# Para conversar localmente com o bot mude o argumento da função para true\n\n# Caso queira conversar com o bot no telegram, mude para false\n\n# Todas as mensagens devem ser enviadas pelo node inject, o único componente que deve ser trocado é o texto da mensagem\n\n# Para acessar o modo de audio do bot, envie \"ModoAcessivelOn\" ou \"ModoAcessivelOff\" para ativar ou desativar o envio de áudios\n","x":1403,"y":595,"wires":[]},{"id":"fa83173a90f28e21","type":"watson-speech-to-text","z":"d1610b6e3d041b2c","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"0.6","word-confidence":false,"password":"","apikey":"50YgJShHnEhRVWJMpDcUjPBGZNiCbJtyXvtkXvIPLbKA","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":true,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/9eb1c080-9314-4ccb-968f-a32b69f1bdb1","x":936.5000114440918,"y":720.7500114440918,"wires":[["d2add53920bb1895"]]},{"id":"0e8701ec016573c3","type":"microphone","z":"d1610b6e3d041b2c","name":"","x":604,"y":722,"wires":[["fa83173a90f28e21"]]},{"id":"b684aab3443eff82","type":"switch","z":"d1610b6e3d041b2c","name":"Acessibilidade","property":"payload.acessibilidade","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1644,"y":640,"wires":[["7764f4476dfd64d8"],["e34d724d137829ed"]]},{"id":"da219bb94864a9ee","type":"watson-text-to-speech","z":"d1610b6e3d041b2c","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/ogg; codecs=opus","password":"","apikey":"NShY7uRl8dtbtj4BVhfTP-m2nIu1C2fAuAhk5S8XQZoL","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/59439f98-105c-4b10-b0f6-927f18e17a03","x":1676,"y":749,"wires":[["5385958cb7e674e4"]]},{"id":"f9b34fed58d1aef4","type":"switch","z":"d1610b6e3d041b2c","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":771,"y":602.25,"wires":[["9dc0414aecf05e6e"],["933d7a73894f815b"]]},{"id":"933d7a73894f815b","type":"function","z":"d1610b6e3d041b2c","name":"tratando audio","func":"\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":925.0000152587891,"y":645.0000104904175,"wires":[["fa83173a90f28e21"]]},{"id":"e34d724d137829ed","type":"function","z":"d1610b6e3d041b2c","name":"","func":"var x = {\n    payload: msg.payload.content\n    \n}\nreturn x;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1475,"y":749,"wires":[["da219bb94864a9ee"]]},{"id":"5385958cb7e674e4","type":"function","z":"d1610b6e3d041b2c","name":"","func":"\n\nmsg.payload ={\n    chatId: global.get(\"chatId\"),\n    type:\"voice\",\n    content: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1847,"y":773,"wires":[["9705fc44ef6c6c2b"]]},{"id":"b214e45718897be3","type":"function","z":"d1610b6e3d041b2c","name":"","func":"global.set(\"chatId\",msg.payload.chatId);\n\nif(msg.payload.content===\"ModoAcessivelOn\"){\n    global.set(\"acessibilidade\",true);     \n}else if(msg.payload.content===\"ModoAcessivelOff\"){\n    global.set(\"acessibilidade\",false); \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":657,"wires":[[]]},{"id":"f6a563501e035e0f","type":"telegram bot","botname":"jan_merkel_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]